CONFIG=hs37d5
BASE_DIR="/hpcfs/groups/phoenix-hpc-neurogenetics"
# No personal "Nandini" folders in the top level of /hpcfs/groups/phoenix-hpc-neurogenetics: Suggest
#SCRIPTDIR="${BASE_DIR}/scripts/git/nandini  # Rather than
SCRIPTDIR="${BASE_DIR}/Nandini/Mosaic-All/Mosaic-S"
REFGEN=${BASE_DIR}/RefSeq/hs37d5.fa

MHDIR=${BASE_DIR}/executables/MosaicHunter-master/MosaicHunter-master
DBSNP=${BASE_DIR}/RefSeq/GATK4/hs37d5/b37_dbsnp_138.b37.vcf
REPEATS=${BASE_DIR}/executables/MosaicHunter-master/MosaicHunter-master/resources/all_repeats.b37.bed
COMMONERROR=${BASE_DIR}/executables/MosaicHunter-master/MosaicHunter-master/resources/WES_Agilent_71M.error_prone.b37.bed

GATK=${BASE_DIR}/executables/gatk-latest/gatk-package-4.4.0.0-local.jar
PON=${BASE_DIR}/Nandini/Mutect2_ReCalling_batch1/PON/PON_Batch01_hs37dh_GAparents.vcf # See note above re personal folders
GERMLINE_RESOURCES=${BASE_DIR}/Nandini/Mutect2_ReCalling_batch1/PON/somatic-b37_af-only-gnomad.raw.sites.vcf

MFORECAST=${BASE_DIR}/executables/MosaicForecast-master

CONFIG_for_GATKHC=BWA-GATKHC.hs37d5_phoenix.cfg


