CONFIG=hs37d5

BASE_DIR="/hpcfs/groups/phoenix-hpc-neurogenetics"
SCRIPTDIR="${BASE_DIR}/scripts/git/nandini  
REFGEN=${BASE_DIR}/RefSeq/hs37d5.fa

MHDIR=${BASE_DIR}/executables/MosaicHunter-master/MosaicHunter-master
DBSNP=${BASE_DIR}/RefSeq/GATK4/hs37d5/b37_dbsnp_138.b37.vcf
REPEATS=${BASE_DIR}/executables/MosaicHunter-master/MosaicHunter-master/resources/all_repeats.b37.bed
COMMONERROR=${BASE_DIR}/executables/MosaicHunter-master/MosaicHunter-master/resources/WES_Agilent_71M.error_prone.b37.bed

GATK=${BASE_DIR}/executables/gatk-latest/gatk-package-4.4.0.0-local.jar
PON=${SCRIPTDIR}/PON_Batch01_hs37dh_GAparents.vcf # See note above re personal folders
GERMLINE_RESOURCES=${SCRIPTDIR}/PON/somatic-b37_af-only-gnomad.raw.sites.vcf

MFORECAST=${BASE_DIR}/executables/MosaicForecast-master

CONFIG_for_GATKHC=BWA-GATKHC.hs37d5_phoenix.cfg


