CONFIG=hs37d5
REFGEN=/hpcfs/groups/phoenix-hpc-neurogenetics/RefSeq/hs37d5.fa

MHDIR=/hpcfs/groups/phoenix-hpc-neurogenetics/executables/MosaicHunter-master/MosaicHunter-master
DBSNP=/hpcfs/groups/phoenix-hpc-neurogenetics/RefSeq/GATK4/hs37d5/b37_dbsnp_138.b37.vcf
REPEATS=/hpcfs/groups/phoenix-hpc-neurogenetics/executables/MosaicHunter-master/MosaicHunter-master/resources/all_repeats.b37.bed
COMMONERROR=/hpcfs/groups/phoenix-hpc-neurogenetics/executables/MosaicHunter-master/MosaicHunter-master/resources/WES_Agilent_71M.error_prone.b37.bed

GATK=/hpcfs/groups/phoenix-hpc-neurogenetics/executables/gatk-latest/gatk-package-4.4.0.0-local.jar
PON=/hpcfs/groups/phoenix-hpc-neurogenetics/Nandini/Mutect2_ReCalling_batch1/PON/PON_Batch01_hs37dh_GAparents.vcf
GERMLINE_RESOURCES=/hpcfs/groups/phoenix-hpc-neurogenetics/Nandini/Mutect2_ReCalling_batch1/PON/somatic-b37_af-only-gnomad.raw.sites.vcf

MFORECAST=/hpcfs/groups/phoenix-hpc-neurogenetics/executables/MosaicForecast-master


