# This is a template configuration file.
# Set the fields below to match your system
CONFIG=hs37d5 # Free text ID of the config, usually related to a genome build
BASE_DIR= # This might be your home directory or a shared data storage location
LOGDIR= # A place to output log files from the pipeline.
GIT= # The place where you have cloned this git repository
SCRIPTDIR= ${GIT}/scripts  
REFGEN= # The path and name of your reference sequence fasta file e.g. /path/to/hs37d5.fa

#MosaicHunter
MHDIR= # Location of your MosiacHunter repository
DBSNP= # Location of the dbSNP file (usually taken from the GATK bundle)
REPEATS=${MHDIR}/resources/all_repeats.b37.bed # Set for your genome build
COMMONERROR=${MHDIR}/resources/WES_Agilent_71M.error_prone.b37.bed # Set for your genome build

#Mutect2
GATK= # Location of your GATK executable if it is not in your PATH
PON_A= # /path/to/a/panel_of_normals.vcf, Use PON_A and PON_B for testing samples in batches using batch A as the PoN for batch B and vice versa 
PON_B= # /path/to/a/panel_of_normals.vcf There should be no overlap between samples in PON_A and PON_B
GERMLINE_RESOURCES= # /path/to/somatic-b37_af-only-gnomad.raw.sites.vcf from the GATK bundle for Mutect2

#MosaicForecast
MFORECAST= # Location of your MosaicForecast repository 
