# This is a template configuration file.
# Set the fields below to match your system
CONFIG=hg38 # [options are either hg38 or hg19, other that this naming wont work] Free text ID of the config, usually related to a genome build
BASE_DIR=/hpcfs/groups/phoenix-hpc-neurogenetics/a1742674/hg38_CP_Batch02 # This might be your home directory or a shared data storage location
LOGDIR=${BASE_DIR}/LOG # A place to output log files from the pipeline.
SCRIPTDIR=/hpcfs/groups/phoenix-hpc-neurogenetics/scripts/git/neurocompnerds/Mosaic/MosaiC-All  # The place where you have cloned this git repository
REFGEN=/hpcfs/groups/phoenix-hpc-neurogenetics/RefSeq/hs38DH.fa # The path and name of your reference sequence fasta file e.g. /path/to/hs37d5.fa

EXEC=/hpcfs/groups/phoenix-hpc-neurogenetics/executables
RESOURCES=${BASE_DIR}/Resources

#MosaicHunter
MHDIR=${EXEC}/MosaicHunter-master/MosaicHunter-master  # Location of your MosiacHunter repository
DBSNP=${RESOURCES}/dbsnp_146.hg38.vcf # Location of the dbSNP file (usually taken from the GATK bundle)
REPEATS=${RESOURCES}/NCBI_repeats.hg38.bed # Set for your genome build
COMMONERROR=${RESOURCES}/WES_Agilent_71M.error_prone.hg38.bed.bed # Set for your genome build

#Mutect2
GATK=${EXEC}/gatk-4.4.0.0  # Location of your GATK executable if it is not in your PATH
PON_A=${RESOURCES}/PONab_hg38_CPparents_db.vcf.gz # /path/to/a/panel_of_normals.vcf, Use PON_A and PON_B for testing samples in batches using batch A as the PoN for batch B and vice versa 
PON_B=${RESOURCES}/PONaa_hg38_CPparents_db.vcf.gz # /path/to/a/panel_of_normals.vcf There should be no overlap between samples in PON_A and PON_B
#PON_A=${RESOURCES}/PON_ALL_hg38_CPparents_db.vcf.gz

#GERMLINE_RESOURCES=${RESOURCES}/somatic-hg38_af-only-gnomad.hg38.vcf # /path/to/somatic-b37_af-only-gnomad.raw.sites.vcf from the GATK bundle for Mutect2

GERMLINE_RESOURCES=${RESOURCES}/af-only-gnomad.hg38.vcf.gz

#MosaicForecast
MFORECAST=${EXEC}/MosaicForecast-master # Location of your MosaicForecast repository 
